<%- include('header'); -%>

<main>
<h2 class="form">CONTACT US</h2>

<form>
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT"/>
</form>

</main>

<%- include('footer'); -%>
